.box {
   opacity: 0;
  transform: translateX(0);
  transition: all 0.8s ease-out;
}

/* Start positions */
.left {
  transform: translateX(-200px);
}

.right {
  transform: translateX(200px);
}

/* Center position after scroll */
.show {
  opacity: 1;
  transform: translateX(0);
}